<link rel="stylesheet" href="__NEW_CSS__/fonts/linecons/css/linecons.css">
<link rel="stylesheet" href="__NEW_CSS__/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__NEW_CSS__/bootstrap.css">
<link rel="stylesheet" href="__NEW_CSS__/xenon-core.css">
<link rel="stylesheet" href="__NEW_CSS__/xenon-forms.css">
<link rel="stylesheet" href="__NEW_CSS__/xenon-components.css">
<link rel="stylesheet" href="__NEW_CSS__/xenon-skins.css">
<link rel="stylesheet" href="__NEW_CSS__/custom.css">
<link rel="stylesheet" href="__NEW_CSS__/other.css">
<script src="__NEW_JS__/jquery-1.11.1.min.js"></script>

<script src="__NEW_JS__/bootstrap.min.js"></script>
<script src="__NEW_JS__/TweenMax.min.js"></script>
<script src="__NEW_JS__/resizeable.js"></script>
<script src="__NEW_JS__/joinable.js"></script>
<script src="__NEW_JS__/xenon-api.js"></script>
<script src="__NEW_JS__/xenon-toggles.js"></script>
<script src="__NEW_JS__/jquery-validate/jquery.validate.min.js"></script>
<script src="__NEW_JS__/toastr/toastr.min.js"></script>
<script src="__NEW_JS__/xenon-custom.js"></script>

<!--<link rel="stylesheet" href="__NEW_JS__/js/datatables/dataTables.bootstrap.css">-->

<script src="__NEW_JS__/datatables/js/jquery.dataTables.min.js"></script>

<script src="__NEW_JS__/datatables/dataTables.bootstrap.js"></script>
<script src="__NEW_JS__/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
<script src="__NEW_JS__/datatables/tabletools/dataTables.tableTools.min.js"></script>

<!-- Imported styles on this page -->
<!--<link rel="stylesheet" href="__NEW_ASSETS__/js/datatables/dataTables.bootstrap.css">-->
